body {
    background-image: url(../imagens/Body.jpg);
    background-attachment: fixed;
    font-family: comic;
    margin: 0px;
    padding: 0px;
}
.header {
    display: flex;
    justify-content: center;
    padding-top: 17px;
}
.container  {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 100px;
} 
.logo {
    display: flex;
    align-items: center;
}
.logotext {
    text-decoration: none;
    font-size: 30px;
    color: #FFFACD; 
    text-transform: uppercase;
    float: right;
    margin-top: 40px;
    margin-left: 15px;
}
.container img {
    width: 98px;
    height: 98px;
    border: 3px solid #FFFACD;
}
.container a {
    text-decoration: none;
    font-size: 30px;
    color: #FFFACD;    
}
.menu {
    display: flex;
    align-items: center;
}
.nav ul, .nav li {
    list-style: none;
    display: flex;
    font-size: 20px;
}
nav a {
    display: block;
    padding: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #39aae1;
    color: #7FFF00;    
}  
#containerbody {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.conteúdo {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    height: auto;
}
.containerleft {
    width: 50%;
}
.infocontainer {
    max-width: 60%;
    font-size: 15px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 40px;
    border-bottom: 3px solid #363636;
}
.imgchagas {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 3px solid #7CFC00;
}
.textochagas {
    color: white;
    font-style: italic;
    font-size: 15px;
}
.containerright {
    width: 440px;
}
.infotit {
    color: #00FF00;
    font-size: 23px;
    font-style: italic;
    border-bottom: 2px solid palegreen;
    padding-bottom: 10px ;
    margin-top: 15px;
}
.infotext {
    padding-top: 20px;
    color: white;
    font-size: 15px;
    font-style: italic;
    line-height: 20px;
}
#cabecalho {
    height: 50px;
    background-color: #1C1C1C;
    justify-content: center;
    display: flex;
}
.cabecalhobody {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.copy {
    line-height: 50px;
    color: slategray;
    font-size: 15px;
}
.social {
    line-height: 50px;
    padding-top: 15px;
}
